<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Select a Question-set</h1>
    <div class="scroll-box">
        <form id="questionForm" action="/game_question_select" method="post">
            <select name="selected_question_set">
                {% for file in userfiles %}
                <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <br>
            <div class="container">
                <div class="btn" id="green" onclick="submitForm()"><a href="#">Select Question-set</a></div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="btn" id="red"><a href="/menu">back to Menu</a></div>
    </div>

    <script>
        function submitForm() {
            try {
                document.getElementById("questionForm").submit();
            } catch {
                alert("I am an alert box!"); //muss gefixt werden, vlt in app.py @app.route('/gamequestion_set_selected', methods=['POST'])
            }
        }
    </script>
</body>
</html>
